body {
  display: grid;
  place-items: center;

  height: 100vh;
  width: 100vw;
  margin: 0;

  background-color: #eff1ed;
  color: #4b5569;

  font-family: 'Manrope', sans-serif;
}

.main-container {
  position: relative;
}

.controls-progress-container {
  position: absolute;
  bottom: 0.3rem;

  width: 100%;

  transform: translateY(3.4rem);
  transition: all 0.5s ease-out;
}

.progress-bar-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  height: 0.3rem;

  cursor: ew-resize;
}

.progress-bar-container:hover {
  height: 1rem;
}

.progress-bar {
  flex: 0;
  height: inherit;

  background-color: red;
}

.controls-container {
  display: flex;
  align-items: center;

  width: calc(100% - 2rem);
  padding: 1rem;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-out;
}

.main-container:hover > .controls-progress-container {
  transform: translateY(0);
}

.main-container:hover > .controls-progress-container > .controls-container {
  opacity: 1;
}

.controls-container button {
  background: transparent;
  border: none;
  color: white;

  padding: 0;
  margin-right: 0.5rem;

  font-size: 0.8rem;
  line-height: 1rem;
}

.controls-container button:last-child {
  margin-right: 0;
}

.controls-container input {
  flex: 1;

  margin-right: 0.5rem;
}

.skip-buttons-container {
  margin-left: auto;
}

.video-hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
